<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <h2>声明式渲染</h2>
    <div id="app">{{words}}</div>
    <script>
        // 实例化vue对象
    var app = new Vue ({
        el:"#app",  //el:element　需要获取的元素,一定是html中的根容器元素.
        data:{     //data:用于数据的存储
            words:"欢迎来到中国"
        }
    })
    </script>
    <h3>绑定元素特性：</h3>
    <div id="app-2" v-bind:title="txt">标题标题</div>
    <script>
    var app2 = new Vue ({
        el:"#app-2",
        data:{
            txt:"页面加载" + new Date().toLocaleString()
        }
    })
    </script>
    <h2>条件与循环</h2>
    <h3>控制切换一个元素是否显示也相当简单：</h3>
    <div id="app-3">
        <p v-if="seen">现在你可以看到我了</p>
    </div>
    <script>
        var app3 = new Vue({
            el:"#app-3",
            data:{
                seen: true
            }

        })
    </script>
    <h3>v-for 指令可以绑定数组的数据来渲染一个项目列表：</h3>
    <div id="app-4">
        <p v-for="todo in todos">
            {{todo.text}}
        </p>
    </div>
    <script>
    var app4 = new Vue({
        el:"#app-4",
        data:{
            todos:[
                {text:'学习使我充实'},
                {text:'我爱学习'},
                {text:'学习使我快乐'}
            ]
        }
    })
    </script>

    <div id="app-5">
        <p>{{mes}}</p>
        <button v-on:click="btn">按钮</button>
    </div>
    <script>
    var app5 = new Vue({
        el:"#app-5",
        data:{
            mes:"昵称"
        },
        methods:{    //methods:用于存储各种方法
            btn:function(){
                this.mes = this.mes.split('').reverse().join('')
            }

        }
    })
    </script>


</body>
</html>