@charset "utf-8";
/* CSS Document */

#certify {
	position: relative;
	width: 846px;/*判断宽度设置响应式效果*/
	margin: 0 auto
}

/*#certify .swiper-container {
	padding-bottom: 60px;
}
*/
#certify .swiper-slide {
	width: 643px;
	height: 446px;
	display: block;
}
#certify .swiper-slide img{
	width: 643px;
	height: 446px;
	display:block;
}

#certify .swiper-pagination {
	width: 100%;
	bottom: -45px;
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5px;
	background-color: #661816;
	width: 70px;
	height: 4px;
	opacity: 1;
	border-radius: 0
}

#certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
	background-color: #fff;
}

#certify .swiper-button-prev {
	left: 24px;
	width: 50px;
	height: 90px;
	top:50%;
	margin-top:-45px;
	background: url(../images/icon.png) no-repeat -50px 0;
}


#certify .swiper-button-next {
	right: 24px;
	width: 50px;
	height: 90px;
	top:50%;
	margin-top:-45px;
	background: url("../images/icon.png") no-repeat 0 0;
}

