/**
 * 命名规范(统一下划线分割)：
 * 公共模块命名前缀(public_)，例：public_head -> public_h_nav 
 * 独立模块命名，index_firend -> if_title -> if_tips
 * =================
 * css层级：
 * ++尽可能的一级：.index_firend{...}
 * --尽量避免直接子集html：.index_abc span{}
 * --尽量避免多层级：.index_abc .ia_bcd{}
 */
/*reset*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, ul, li, form, label, textarea,input { margin:0; padding:0;  }
body {font-size: 16px; line-height: 1.5; font-family:'Microsoft Yahei','simsun','arial','tahoma';  color: #3a3a3a; background-color: #f8f8f8; }
h1, h2, h3, h4, h5, h6, th { font-size: 100%; font-weight: normal; }
button,input,select,textarea{font-size:100%;}
fieldset,img{border:0;}
a { text-decoration: none; color: #666; background: none }
ul, ol { list-style: none; }
:focus{ outline:none;}
/*原子类*/
/*宽1230*/
.public_w{ width: 1230px; margin:0 auto; } 
.bgfff{ background-color: #fff; }
.mt20{margin-top: 20px;}
.mt10{ margin-top: 10px; }


/*公共头部*/
.public_head_wrap{ height: 74px; overflow: hidden; }
.public_head{ position: fixed; left: 0; top:0; right: 0; z-index: 11; height: 74px; line-height: 74px; overflow: hidden; background-color: #fff;  }
.public_h_logo{ position: absolute; left: 0; top:0; width: 200px; height: 74px; margin-left: 30px; }
.public_h_nav{ position: absolute;left: 250px; top:0; }
.public_h_nav a{ height: 74px; float: left; padding:0 20px; font-size: 20px; margin:0 20px;}
.public_h_nav a:hover,
.public_h_nav .current{ height: 72px; line-height: 72px; color: #e8514c; border-bottom:2px solid #e8514c; }
.public_h_r{ position: absolute;right: 30px; top: 0; color: #000; padding-left: 50px; }
.public_h_r:before{ content: ""; position: absolute; left: 0; top:50%; margin-top:-20px; background: url(../images/icon.png) no-repeat 0 -126px; width: 40px; height: 40px; }
.public_h_r a{ color: #000 }
/*公共标题*/
.public_title{ position: relative; height: 70px; line-height: 70px; margin-top: 18px; font-size: 20px; font-weight: 700; padding-left: 10px; }
.public_title:before{ content: ""; position: absolute; left: 0; top:26px; width: 4px; height: 20px; background-color: #8b8b8b; border-radius: 3px; }
/*公共尾部*/
.public_foot_wrap{ overflow: hidden; padding:30px 0;}
.public_foot{ overflow: hidden;  }
.public_f_left{ float: left; width: 564px; }
.public_f_title{ position: relative; font-size: 24px; padding-left: 40px;}
.public_f_title:before{ content: ""; position: absolute; left: 0;top:50%; margin-top:-15px; background: url(../images/icon.png) no-repeat; width: 30px;height: 30px; overflow: hidden;}
.public_icon_tj:before{ background-position: -40px -126px; }
.public_f_center .tel:before{ background-position: -70px -126px; }
.public_icon_number:before{ background-position: 0 -166px; }
.public_f_txt{ color: #848484; overflow: hidden; }

.public_f_center{ position: relative; float: left; width: 305px; padding-left: 30px; }
.public_f_center:before{ content: ""; position: absolute; left: 0; top:50%; margin-top: -46px; width: 1px; height: 92px; background-color: #e1e1e1; }
.public_f_center:after{ content: ""; position: absolute; right: 0; top:50%; margin-top: -46px; width: 1px; height: 92px; background-color: #e1e1e1; }
.public_f_center .tel{  font-size: 24px;}
.public_words_tel{font-style: italic; font-weight: 700;}

.public_f_right{ position: relative; float: right; width: 300px; padding-left: 30px;}
.public_f_right .pic{ position: absolute; right: 0; top:0; }
/*公共 右侧悬浮联系方式*/
.public_fixed_contact{ position: fixed; right: -375px; top:50%; margin-top: -134px; z-index: 1; background-color: #df4b46; height: 268px; color: #fff; overflow: hidden;
	border-top-left-radius: 10px; border-bottom-left-radius: 10px; width: 425px;}
.public_fc_tip{ position: relative; background-color: #e8514c; width: 28px; padding:70px 15px 0; text-align: center; font-size: 20px; height: 200px; line-height: 30px; float: left;
	border-top-left-radius: 10px; border-bottom-left-radius: 10px;}
.public_fc_tip:before{ content: ""; position: absolute; top:10px; left: 10px; background:url(../images/icon.png) no-repeat 0 -90px; width: 36px; height: 36px; }
.public_fc_arrow{ position: absolute; left: 0; bottom:0; width: 58px; height: 54px; overflow: hidden; background-color: #9c3733; display: block; border-bottom-left-radius: 10px; }
.public_fc_arrow:after{ content: ""; position: absolute; top:9px; left:11px;  background: url(../images/icon.png) no-repeat -36px -90px; width: 36px; height: 36px; }
.public_fc_list{padding:30px 25px 0; float: left; font-size: 18px; line-height: 36px;}
.public_fc_list .qq{ display: inline-block; vertical-align: middle; }
.public_fc_list img{ margin-top: 5px; }
.public_fc_list p{ margin-bottom: 5px; }
/*首页*/
/*首页-banner模块*/
.index_box{ overflow: hidden; height: 630px; background: url(../images/0_bg_banner.jpg) repeat;}
.ib_module{ overflow: hidden; }
.ib_left{ float: left; width: 846px; margin-top: 54px; }
.ib_left_shadow{ background: url(../images/0_banner_shadow.png) no-repeat; width: 765px; height: 132px; margin-left: 100px; }
.ib_right{ float: right; width: 370px; background-color: #fff; margin-top: 32px; }
.ib_title{ font-size: 22px; text-align: center; height: 62px; line-height: 62px; }
.ib_rankings{ background-color: #f4f4f4; overflow: hidden; height: 46px; line-height: 46px;  }
.ib_rankings_l{ width: 100px; float: left; text-align: center; }
.ib_rankings_c{ width: 170px; float: left; text-align: center; background-color: #e6e6e6}
.ib_rankings_r{ width: 100px; float: left; text-align: center; }

.ib_rankings_list{ overflow: hidden; font-size: 18px; }
.ib_rankings_list li{ height: 48px; line-height: 48px; border-bottom:1px solid #f4f4f4; overflow: hidden;}
.ib_rl_l{  width: 100px; float: left; text-align: center; }
.ib_rl_l .num,
.ib_rl_l .pic{ display: inline-block;vertical-align: middle; }
.ib_rl_l .pic{ margin-left: 15px; width: 34px;height: 34px; overflow: hidden; }
.ib_rl_l img{ display: block; width: 100% }
.ib_rl_c{ overflow: hidden;width: 170px; float: left;  }
.ib_rl_r{ overflow: hidden;width: 100px; float: left; text-align: center; }

.ib_bottom{ height: 52px; line-height: 52px; text-align: center; }

.main{ overflow: hidden; margin-bottom: 80px; }
/*首页-合作流程*/
.cooperation_process{ overflow: hidden; background-color: #fff; padding:82px 0 60px;}
.cooperation_process img{ display: block; margin:0 auto;}
/*首页-热门产品*/
.hot_products{ overflow: hidden;font-size: 18px; }
.hp_left{ overflow: hidden;float: left; width: 374px; height: 432px; }
.hp_left .pic{ display: block; margin:36px auto 0; }

.hp_right{ overflow: hidden;float: right; width: 854px; }
.hp_r_highest{ border-right:1px solid #f8f8f8;border-bottom:1px solid #f8f8f8;height: 216px; overflow: hidden; float: left; background-color: #fff; }
.hp_r_last{ border-right:1px solid #f8f8f8;border-bottom:1px solid #f8f8f8;height: 216px; overflow: hidden; float: left; background-color: #fff; }
.J_currentProduct {background-color: #fdfdfd; cursor: pointer;}
.J_currentProduct .hp_rh_statistics{ display: block; }
.hp_rh_product{ float:left; width: 169px; overflow: hidden; text-align: center;  }
.hp_rh_pic{ display: block; width: 100px; height: 100px; margin:35px auto 20px; border-radius: 10px; }
.hp_rh_statistics{ width: 170px; float: right; text-align: center; display: none;}
.hp_rh_circle {width: 100px; height: 100px; position: relative; border-radius: 50%; background-color: #e8514c; margin: 35px auto 20px} 
.hp_rh_pie_left, 
.hp_rh_pie_right {width: 100px; height: 100px; position: absolute; top: 0; left: 0 } 
.hp_rh_pie_left .left, 
.hp_rh_pie_right .right {width: 100px; height: 100px; background-color: #ececec; border-radius: 50%; position: absolute; top: 0; left: 0 } 
.hp_rh_pie_right, 
.hp_rh_pie_right .right {clip: rect(0, auto, auto, 50px); transition: transform 1s ease-in 0s; -webkit-transition: -webkit-transform 1s ease-in 0s; -moz-transition: -moz-transform 1s ease-in 0s } 
.hp_rh_pie_left, 
.hp_rh_pie_left .left {clip: rect(0, 50px, auto, 0); transition: transform .4s ease-in 1s; -webkit-transition: -webkit-transform .4s ease-in 1s; -moz-transition: -moz-transform .4s ease-in 1s } 
.hp_rh_mask {width: 88px; height: 88px; border-radius: 50%; left: 6px; top: 6px; background-color: #fff; position: absolute; line-height: 88px; font-size: 18px; }
.hp_rh_mask .num{ font-size: 24px; }

/*.hp_r_list{width: 170px; height: 216px; border-left:1px solid #f8f8f8;border-bottom:1px solid #f8f8f8; float: left; display: block; text-align: center;border-radius: 10px;}*/

/*首页-合作伙伴*/
.cooperative_partner{ overflow: hidden; }
.cooperative_partner a{ border-bottom:1px solid #f8f8f8;border-right:1px solid #f8f8f8;width: 245px; height: 136px; overflow: hidden; float: left; }
.cooperative_partner img{ display: block; width: 246px; height: 136px;-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%); }
.cooperative_partner a:hover img{ -webkit-filter: none;filter: none;}

/*联盟介绍页*/
/*当页公共标题*/
.union_title{ overflow: hidden; text-align: center; margin:40px 0; color: #fff;}
.union_title span{ height: 56px; line-height: 56px; font-size: 30px; font-weight: 700; border:1px solid #fff; border-radius: 30px; padding:0 40px;display: inline-block;  }
/*联盟介绍-联盟优势*/
.union_advantage{ overflow: hidden; height: 630px; background:#da4d49 url(../images/1_bg_1.jpg) no-repeat top center;}
.ua_module{ position: relative; color: #fff;}
.ua_module_left,
.ua_module_right{ position: absolute;top:100px;  width: 440px; }
.ua_module_left{ left: 90px; }
.ua_module_right{ right: 90px; }
.ua_module_pic{ display: block; width: 248px; height: 276px; margin:0 auto; }
.ua_module_words{ font-weight: 700; font-size:30px; text-align: center; margin-bottom: 20px;  }
.ua_module_txt{ font-size: 18px; line-height: 30px; }

/*动画*/
.ua_module_left {-webkit-animation: fadeInLeft 1s .2s ease both;-moz-animation: fadeInLeft 1s .2s ease both;}
@-webkit-keyframes fadeInLeft {0% {opacity: 0; -webkit-transform: translateX(-200px) } 100% {opacity: 1; -webkit-transform: translateX(0) } } @-moz-keyframes fadeInLeft {0% {opacity: 0; -moz-transform: translateX(-200px) } 100% {opacity: 1; -moz-transform: translateX(0) } } 
.ua_module_right {-webkit-animation: fadeInRight 1s .2s ease both; -moz-animation: fadeInRight 1s .2s ease both; } 
@-webkit-keyframes fadeInRight {0% {opacity: 0; -webkit-transform: translateX(200px) } 100% {opacity: 1; -webkit-transform: translateX(0) } } @-moz-keyframes fadeInRight {0% {opacity: 0; -moz-transform: translateX(200px) } 100% {opacity: 1; -moz-transform: translateX(0) } }

/*联盟介绍-解决方案*/
.union_solution{ overflow: hidden; background: url(../images/1_bg_2.jpg) repeat-y top center; height: 637px; }
.us_ui{ overflow: hidden; padding-top:20px; }
.us_ui li{ float: left; width: 250px; background-color: #fff; text-align: center; padding:0 20px 40px; margin:0 6px;}
.us_ui_pic{ width:180px; height: 170px; display: block; margin:40px auto 0;  }
.us_ui_words{ font-size: 30px;font-weight:700; margin:10px 0 10px;  }
.us_ui_txt{ font-size: 16px; line-height: 30px; height: 88px; overflow: hidden;}

/*联盟介绍-合作多种方式*/
.union_mode .union_title{ color: #2e2e2e; }
.union_mode .union_title span{border-color: #b6b6b6 }
.um_words{ font-size: 24px; text-align: center; }
.um_ui{ overflow: hidden; margin-top: 50px; margin-bottom: 80px; }
.um_ui li{ float: left; width: 329px; background-color: #fff; padding:66px 40px 0; text-align: center; margin-right: 1px; }
.um_ui_words{ color: #969696; font-weight: 700; font-size:60px; padding-bottom: 30px;}
.um_ui_txt{ height: 88px; overflow: hidden;line-height: 30px;}
.um_ui_btn{ background-color: #fff; border:1px solid #b6b6b6; color: #2e2e2e; border-radius: 20px; width: 156px; height: 40px; line-height: 40px;text-align: center; margin:0 auto; display: block; font-size: 22px; margin-top: 20px; margin-bottom: 60px; }
.um_ui_btn:hover{ background-color: #da4d49; border-color: #da4d49; color: #fff; }



/*产品介绍页*/
.product{ overflow: hidden; width: 1800px; margin:0 auto; }
.product_title{ overflow: hidden; text-align: center; margin:40px 0 20px; color: #2e2e2e;}
.product_title span{ height: 56px; line-height: 56px; font-size: 20px; font-weight: 700; border:1px solid #b6b6b6; border-radius: 30px; padding:0 40px;display: inline-block;  }
.product_words{ text-align: center; font-size: 18px; }

.product_list{ overflow: hidden; margin-top: 30px; margin-bottom: 80px; }
.product_list li{ float: left; width: 398px; height: 340px; overflow: hidden; background-color: #fff; margin:0 10px 20px; padding:16px 16px 0;}
.pl_pic{ height: 134px; overflow: hidden; }
.pl_pic img{ display:block; width: 100%;  }
.pl_t{ text-align: center; color: #2e2e2e; font-size: 22px; height: 50px; line-height: 50px; }
.pl_words{ height: 50px; overflow: hidden; line-height: 26px; }
.pl_btn{color: #2e2e2e;border:1px solid #b6b6b6;border-radius: 30px; width: 156px; height: 38px; line-height: 38px; display: block; text-align: center; font-size: 20px; margin:20px auto 0; }
.pl_btn:hover{ background-color: #da4d49; border-color: #da4d49; color: #fff; }
/*帮助中心页*/
.help_box{ overflow: hidden; margin-bottom: 80px; }
.hb_list{ overflow: hidden; }
.hb_list li{ overflow: hidden; border-bottom:1px solid #f8f8f8; padding:30px; }
.hb_list_title{ font-size: 20px; margin-bottom: 20px; }
.hb_list_txt{ color: #3a3a3a;  }

/*登录页*/
.login_box_wrap{overflow:hidden; background: url(../images/bg_login.jpg) no-repeat top center; height: 790px; }
.login_box{ position: relative; }
.login_form{ position: absolute; top:120px; right: 0; background-color: #fff; width: 383px; padding:30px; }
.lf_words{ position: relative; color: #e8514c; font-size: 30px; padding-left: 20px; }
.lf_words:before{ content: ""; position: absolute; left: 0; top:50%; margin-top: -14px; width: 6px; height: 28px; background-color: #e8514c; border-radius: 3px; }
.lf_ul{ overflow: hidden; }
.lf_li{position: relative;padding-left:54px; margin-top: 22px; background-color: #f5f5f5;}
.icon_login {position: absolute; left: 15px; top: 50%; margin-top: -10px; width: 20px; height: 20px; vertical-align: middle; display: inline-block;background-image: url(../images/icon.png); background-repeat: no-repeat;} 
.icon_login.un {background-position: -30px -166px;}
.icon_login.pwd {background-position: -50px -166px;}
.lf_li_input {border: 0; outline: 0; vertical-align: middle; width: 100%; height: 54px; line-height: 54px; background-color: #f5f5f5;}
.lf_help_panel {overflow: hidden;margin-top: 20px;}
.lf_checked{ float: left; }
.lf_pwd{float: right}

.login_btn{ overflow: hidden; margin-top: 20px; }
.login_btn .btn{width: 100%;  border:0; display: block; height: 66px; line-height: 66px; color: #fff; font-size: 30px; font-weight: 700; background-color: #e8514c; cursor: pointer;}
.login_register{text-align: center; margin-top: 18px;}
.login_register_btn{ color: #e8514c }

/*用户注册页*/
.register_form_wrap{ background: url(../images/bg_register.jpg) no-repeat top center; height: 798px; overflow: hidden; }
.register_form{ position: absolute; top:116px; left: 50%; margin-left: -265px; width: 530px; padding:10px 25px 100px; }
.rf_title{ position: relative; font-size: 30px; padding-left: 36px; }
.rf_title:before{ content: ""; position: absolute; left: 0; top:50%; margin-top: -13px; background: url(../images/icon.png) no-repeat -70px -90px; width: 26px; height: 26px; }

.rf_list{ overflow: hidden; padding-top: 40px; margin:0 90px; }
.rf_list_li{position: relative;padding-left:54px;border: 1px solid #ddd; margin-top: 22px; background-color: #fbfbfb;}
.icon_register {position: absolute; left: 15px; top: 50%; margin-top: -10px; width: 20px; height: 22px; vertical-align: middle; display: inline-block;background-image: url(../images/icon.png); background-repeat: no-repeat;} 
.icon_register.tel {background-position: 0 -196px;}
.icon_register.yz {background-position: -20px -196px;}
.icon_register.pwd {background-position: -40px -196px;}
.rf_list_input {border: 0; outline: 0; vertical-align: middle; width: 100%; height: 50px; line-height: 50px; background-color: #fbfbfb;}
.rf_list_yz{ position: absolute; right: 0; top:0; display: block; background-color: #fff; vertical-align: middle; width: 104px; border-left:1px solid #ddd; height: 50px; line-height: 50px; text-align: center; color: #eb0c1c;  }

.register_btn{ overflow: hidden; margin: 20px 90px 0; }
.register_btn .btn{width: 100%;  border:0; display: block; height: 50px; line-height: 50px; color: #fff; font-size: 18px; background-color: #e8514c; cursor: pointer;}
